.wrapper {
  width: 1440px;
  height: 10150px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

@media (max-width: 860px) {
  .wrapper {
    width: 375px;
    height: 8796px;
  }
}

@font-face {
  font-family: "FuturaDemiC";
  src: url("../assets/fonts/FuturaDemiC.woff2") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header {
  width: 100%;
  height: 0.82%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131313;
}

@media (max-width: 860px) {
  .header {
    width: 100%;
    height: 0.65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.logo {
  margin-left: 2.5%;
  font-family: "FuturaDemiC", serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

@media (max-width: 860px) {
  .logo {
    margin-right: 5%;
    margin-left: 0;
    font-size: 12px;
    line-height: 14px;
  }
}

.header-menu {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu__link {
  font-family: "FuturaDemiC", serif;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.header-menu__link_active {
  font-family: "FuturaDemiC", serif;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #E3B873;
}

.header-menu__link_active:hover {
  color: #FFFFFF;
}

.header-menu__link:hover {
  color: #E3B873;
}

@media (max-width: 860px) {
  .header-menu {
    display: none;
  }
}

.header-phone {
  font-family: "FuturaDemiC", serif;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E3B873;
}

.header-phone:hover {
  color: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 860px) {
  .header-phone {
    margin-left: 10%;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
  }
}

.header-form {
  width: 10%;
  height: 45%;
  margin-right: 2%;
}

.header-form__input {
  width: 100%;
  height: 100%;
  font-family: "FuturaDemiC", serif;
  font-size: 13px;
  line-height: 15px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-form__input:hover {
  cursor: pointer;
  background: rgba(227, 184, 115, 0.7);
}

@media (max-width: 860px) {
  .header-form {
    display: none;
  }
}

@font-face {
  font-family: "Yeseva One";
  src: url("../assets/fonts/YesevaOne.woff2") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/FuturaBookC.woff2") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.about-container {
  width: 100%;
  height: 7%;
  margin-bottom: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 860px) {
  .about-container {
    width: 100%;
    height: 6%;
    margin-bottom: 0;
  }
}

.about {
  width: 94.3%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../assets/img/image4.3.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/img/image4.3.jpg");
  background-size: cover;
}

@media (max-width: 860px) {
  .about {
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../assets/img/image4.7.png");
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/img/image4.7.png");
    background-size: cover;
  }
}

.about-header {
  width: 40%;
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 4%;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about-header__city {
  color: #E3B873;
}

@media (max-width: 860px) {
  .about-header {
    width: 90%;
    font-size: 23px;
    line-height: 31px;
    margin-bottom: 4%;
  }
}

.about-text {
  width: 31%;
  margin-left: 4%;
  margin-bottom: 5%;
  font-family: "FuturaBookC";
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}

@media (max-width: 860px) {
  .about-text {
    width: 82%;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 13%;
  }
}

.about-form {
  width: 29%;
  height: 5%;
  margin-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 860px) {
  .about-form {
    width: 92%;
    height: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-form__cost {
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  border: 0;
}

@media (max-width: 860px) {
  .about-form__cost {
    height: 40%;
    border-radius: 0;
  }
}

.about-form__cost:hover {
  background: rgba(227, 184, 115, 0.7);
  cursor: pointer;
}

.about-form__app {
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

@media (max-width: 860px) {
  .about-form__app {
    height: 40%;
    border-radius: 0;
  }
}

.about-form__app:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.aside {
  width: 5.7%;
  height: 96%;
  position: relative;
  background-color: #131313;
}

.aside__img {
  position: absolute;
  top: 40%;
  left: 40%;
}

.aside__vector {
  position: absolute;
  top: 60%;
  left: 50%;
}

.aside__text {
  position: absolute;
  top: 50%;
  font-family: "FuturaDemiC", serif;
  color: #E3B873;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  text-transform: uppercase;
}

.aside__text:hover {
  color: #FFFFFF;
}

.aside__link {
  display: block;
  text-decoration: none;
  color: #E3B873;
}

@media (max-width: 860px) {
  .aside {
    display: none;
  }
}

.scroll-down {
  position: absolute;
  bottom: -5.1%;
  width: 14%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131313;
}

.scroll-down__text {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.scroll-down__icon:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 860px) {
  .scroll-down {
    display: none;
  }
}

.completed-projects {
  position: relative;
  width: 100%;
  height: 8%;
  overflow: hidden;
  background-color: #131313;
}

.completed-projects__img {
  position: absolute;
  top: 27%;
  left: 42.5%;
}

@media (max-width: 860px) {
  .completed-projects__img {
    display: none;
  }
}

.completed-projects__img_over {
  top: 27%;
  position: absolute;
  left: 91%;
}

@media (max-width: 860px) {
  .completed-projects__img_over {
    width: 92%;
    position: absolute;
    top: 32%;
    left: 4%;
  }
}

.completed-projects__button_left {
  display: none;
}

@media (max-width: 860px) {
  .completed-projects__button_left {
    display: inline;
    position: absolute;
    left: 8%;
    top: 47%;
  }
}

.completed-projects__button_right {
  width: 4%;
  position: absolute;
  top: 52%;
  right: 2.5%;
}

.completed-projects__button_right:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 860px) {
  .completed-projects__button_right {
    width: 9%;
    position: absolute;
    right: 8%;
    top: 47.5%;
  }
}

@media (max-width: 860px) {
  .completed-projects {
    width: 100%;
    height: 8%;
    position: relative;
  }
}

.menu-projects {
  position: absolute;
  left: 40%;
  top: 9%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-projects__link_active {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #E3B873;
}

.menu-projects__link_active:hover {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.menu-projects__link {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

.menu-projects__link:hover {
  color: #E3B873;
  text-decoration: underline;
}

@media (max-width: 860px) {
  .menu-projects {
    display: none;
  }
}

.projects-info {
  width: 30%;
  height: 35%;
  position: absolute;
  top: 25%;
  left: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-info {
  width: 100%;
  height: 65%;
  position: relative;
}

.main-info__header {
  width: 40%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}

@media (max-width: 860px) {
  .main-info__header {
    position: absolute;
    bottom: 175%;
    left: 90%;
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
  }
  .main-info__header_span {
    position: absolute;
    left: 25%;
  }
}

.main-info__vector {
  position: absolute;
  right: 42%;
  top: 34%;
}

@media (max-width: 860px) {
  .main-info__vector {
    display: none;
  }
}

.main-info__text {
  margin-top: 6%;
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

@media (max-width: 860px) {
  .main-info__text {
    width: 279%;
    position: absolute;
    bottom: 87%;
    font-size: 14px;
    line-height: 158.48%;
    text-align: center;
  }
}

.info {
  width: 100%;
  margin-top: 23%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-row-gap: 28%;
}

.info__header {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}

@media (max-width: 860px) {
  .info__header {
    font-size: 14px;
    line-height: 138.6%;
  }
}

.info__text {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

@media (max-width: 860px) {
  .info__text {
    font-size: 14px;
    line-height: 19px;
  }
}

@media (max-width: 860px) {
  .info {
    width: 279%;
    position: absolute;
    left: -10%;
    bottom: -78%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    grid-row-gap: 30%;
    grid-column-gap: 10%;
    font-size: 14px;
    line-height: 158.48%;
  }
}

.online-control {
  width: 100%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #131313), color-stop(50%, #FFFFFF));
  background: linear-gradient(to bottom, #131313 50%, #FFFFFF 50%);
}

@media (max-width: 860px) {
  .online-control {
    width: 100%;
    height: 4%;
    background: #131313;
  }
}

.container-header {
  height: 20%;
}

@media (max-width: 860px) {
  .container-header {
    margin-bottom: 8%;
  }
}

.container-header__header {
  margin-bottom: 7%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 19.1639px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 860px) {
  .container-header__header {
    font-size: 22px;
    line-height: 138.6%;
  }
}

.container-img {
  text-align: center;
}

@media (max-width: 860px) {
  .online-control__video {
    width: 92%;
    height: 60%;
  }
}

.form-connection {
  width: 100%;
  height: 5.5%;
  background-color: #13ff11;
}

@media (max-width: 860px) {
  .form-connection {
    width: 100%;
    height: 6%;
  }
}

.types-repair {
  width: 100%;
  height: 7%;
  background-color: #ff11cb;
}

@media (max-width: 860px) {
  .types-repair {
    width: 100%;
    height: 20%;
  }
}

.services {
  width: 100%;
  height: 8%;
  background-color: burlywood;
}

@media (max-width: 860px) {
  .services {
    display: none;
  }
}

.types-design {
  width: 100%;
  height: 11%;
  background-color: #11a0ff;
}

@media (max-width: 860px) {
  .types-design {
    width: 100%;
    height: 4%;
  }
}

.design-projects {
  width: 100%;
  height: 6%;
  background-color: #11ff7c;
}

@media (max-width: 860px) {
  .design-projects {
    width: 100%;
    height: 20%;
  }
}

.organization-work {
  width: 100%;
  height: 7%;
  background-color: #ff7011;
}

@media (max-width: 860px) {
  .organization-work {
    display: none;
  }
}

.our-team {
  width: 100%;
  height: 9%;
  background-color: #ff1174;
}

@media (max-width: 860px) {
  .our-team {
    width: 100%;
    height: 20%;
  }
}

.our-clients {
  width: 100%;
  height: 7%;
  background-color: #11ff60;
}

@media (max-width: 860px) {
  .our-clients {
    display: none;
  }
}

.questions {
  width: 100%;
  height: 5%;
  background-color: #6411ff;
}

@media (max-width: 860px) {
  .questions {
    width: 100%;
    height: 7%;
  }
}

.map {
  width: 100%;
  height: 7%;
  background-color: #ff1111;
}

@media (max-width: 860px) {
  .map {
    width: 100%;
    height: 6%;
  }
}

.footer {
  width: 100%;
  height: 1.3%;
  background-color: #131313;
}

@media (max-width: 860px) {
  .footer {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */