
@font-face {
    font-family: "FuturaDemiC";
    src: url("../assets/fonts/FuturaDemiC.woff2") format("truetype");
    font-style: normal;
    font-weight: normal;
  }


@font-face {
    font-family: "FuturaMediumC";
    src: url("../assets/fonts/FuturaMediumC.woff2") format("truetype");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "Yeseva One";
    src: url("../assets/fonts/YesevaOne.woff2") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: "FuturaBookC";
    src: url("../assets/fonts/FuturaBookC.woff2") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  