.form-connection {
    width: 100%;
    height: 5.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;

    &__vector {
        margin-bottom: 3%;

        @media (max-width: 760px) {
            margin-bottom: 5%;
          
        }
    }

    &__text {
        width: 47%;
        height: 30%;
        margin-bottom: 4%;
        font-family: FuturaBookC, serif;
        font-size: 2rem;
        line-height: 3.4rem;
        text-align: center;
        color: #363636;

        @media (max-width: 1260px) {
            width: 67%;
            height: 40%;
          }

        @media (max-width: 760px) {
            width: 92%;
            height: 25%;
            margin-bottom: 10%;
            font-size: 1.4rem;
            line-height: 169.8%;
            color: #FFFFFF;
            
        }
    }

    @media (max-width: 760px) {
        width: 100%;
        height: 6%;
        background-color: #131313;
    }
}

.form {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1260px) {
        width: 67%;
        height: 17%;
      }

    @media (max-width: 760px) {
        width: 100%;
        height: 56%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}

.form-name {
    width: 33%;

    &__name {
        font-family: FuturaBookC;
        font-size: 1.5rem;
        line-height: 2rem;
        color: rgba(54, 54, 54, 0.5);

        @media (max-width: 760px) {
            font-size: 1.5rem;
            line-height: 2rem;
            color: rgba(255, 255, 255, 0.5);
            transform: rotate(-0.07deg);

        }
    }

    &__text {
        font-family: FuturaBookC, serif;
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: #363636;

        @media (max-width: 760px) {
            font-size: 1.8rem;
            line-height: 138.72%;
            color: #FFFFFF;
            
        }
    }


    &__input {
        @media (max-width: 760px) {
            width: 92%;
            height: 20%;
          
        }
    }

    @media (max-width: 760px) {
        width: 99%;
        height: 33%;
        margin-left: 4%;
      
    }

    }

.form-phone {
    width: 33%;

    &__name {
        font-family: FuturaBookC, serif;
        font-size: 1.5rem;
        line-height: 2rem;
        color: rgba(54, 54, 54, 0.5);

        @media (max-width: 760px) {
            font-size: 1.5rem;
            line-height: 2rem;
            color: rgba(255, 255, 255, 0.5);
            transform: rotate(-0.07deg);

        }
    }

    &__text {
        font-family: FuturaBookC, serif;
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: #363636;

        @media (max-width: 760px) {
            font-size: 1.8rem;
            line-height: 138.72%;
            color: #FFFFFF;
            
        }
    }

    &__input {
        @media (max-width: 760px) {
            width: 92%;
            height: 20%;
          
        }
    }

    @media (max-width: 760px) {
        width: 99%;
        height: 33%;
        position: absolute;
        top: 35%;
        margin-left: 4%;
      
    }
}

.form-submit {
    width: 20%;
    height: 60%;
    margin-top: 3.5%;
    font-family: FuturaDemiC, serif;
    font-size: 1.5rem;
    line-height: 2.6rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 1.5rem 1.5rem rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    border: 0;

    &:hover {
      cursor: pointer;
      background: rgba(227, 184, 115, 0.8);
    }


    @media (max-width: 1260px) {
        height: 45%;
    }

    @media (max-width: 760px) {
        width: 92%;
        height: 17%;
        top: 100%;
        position: absolute;
        border-radius: 0;

      
    }
}

.form-checkbox {
    width: 43%;
    display: flex;
    position: absolute;
    left: 33%;
    top: 150%;
    font-family: FuturaBookC, serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #181818;
     
    &__input {
       display: none 
    }

    &__label {
        width: 90%;

        &:hover {
            cursor: pointer;
            background-color: rgba(227, 184, 115, 0.3);
        }
    
    }

   
    &__input:checked + &__label::before {
        content: "\2713"; 
        margin-right: 2%;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        background-color: #E3B873;
        font-size: 1.5rem;  
        color: #FFFFFF;  
        text-align: center;  
        line-height: 1.5rem;   

    }

    @media (max-width: 1260px) {
      width: 57%;
    }


    @media (max-width: 760px) {
        width: 99%;
        height: 7%;
        position: absolute;
        top: 74%;
        left: 16%;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #FFFFFF;
       
    }
   
}


            
    


       
       
           
  
       
      
           

   