.online-control {
    width: 100%;
    height: 5.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #131313 50%, #FFFFFF 50%);

    &__header {
        margin-bottom: 1%;
        font-family: Yeseva One, serif;
        font-size: 1.9rem;
        line-height: 2.7rem;
        text-align: center;
        text-transform: uppercase; 
        color: #FFFFFF;
          
        @media (max-width: 760px) {
          margin-bottom: 3%;
          font-size: 2.2rem;
          line-height: 138.6%;
      }
 }

     &__video {
        box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);

        @media (max-width: 760px) {
            width: 92%;
            height: 60%;
            
        }
    }
 

    &__icon {
        margin-bottom: 2%;

        @media (max-width: 760px) {
            margin-bottom: 7%;
            
        }
    }

    @media (max-width: 760px) {
        width: 100%;
        height: 4%;
        background: #131313;
    }

}