
.services {
    width: 100%;
    height: 8%;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;

    &__icon {
        position: absolute;
        bottom: 8%;
        right: 25%;

        @media (max-width: 1260px) {
          display: none;
        }
    }

    &__discount {
        width: 16%;
        position: absolute;
        bottom: 13%;
        right: 9%;
        font-family: FuturaDemiC, serif;
        font-size: 2rem;
        line-height: 2.5rem;
        color: #E3B873;
        text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);

        @media (max-width: 1260px) {
            display: none;
          }
    }

    @media (max-width: 760px) {
        display: none;
    }
}

.circle {
    width: 52%;
    height: 81%;
    position: absolute;
    left: -19%;
    top: 6%;
    border: 2px solid #E3B873;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    @media (max-width: 1260px) {
        height: 62%;
        width: 53%;
        top: 12%;
    }

}

.circle-small-1 {
    width: 3%;
    height: 5%;
    position: absolute;
    left: 23%;
    bottom: 81%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Yeseva One, serif;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    background-color:  #E3B873;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    
    @media (max-width: 1260px) {
        width: 5%;
        left: 18%;
       
    }
}

.circle-small-2 {
    width: 3%;
    height: 5%;
    position: absolute;
    bottom: 65%;
    left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Yeseva One, serif;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    background-color: #E3B873;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    @media (max-width: 1260px) {
        width: 5%;
       
    }
}

.circle-small-3 {
    width: 3%;
    height: 5%;
    position: absolute;
    bottom: 48%;
    left: 31.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Yeseva One, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    background-color: #E3B873;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    @media (max-width: 1260px) {
        width: 5%;
     
    }
}

.circle-small-4 {
    width: 3%;
    height: 5%;
    position: absolute;
    bottom: 28%;
    left: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Yeseva One, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    background-color: #E3B873;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    @media (max-width: 1260px) {
        width: 5%;
        left: 19%;
    }
    
}

.text-01 {
    width: 29%;
    position: absolute;
    top: 14%;
    left: 28%;
    font-family: FuturaMediumC, serif;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #363636;

    @media (max-width: 1260px) {
        width: 32%;
        left: 26%;
        top: 11%;
    }

}

.text-02 {
    width: 7%;
    position: absolute;
    top: 31%;
    left: 34%;
    font-family: FuturaMediumC, serif;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #363636;

    @media (max-width: 1260px) {
        left: 37%;
        top: 30%;
    }

}

.text-03 {
    width: 12%;
    position: absolute;
    top: 48%;
    left: 35.5%;
    font-family: FuturaMediumC, serif;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #363636;

    @media (max-width: 1260px) {
        left: 38%;
        top: 47%;
    }
}

.text-04 {
    width: 14%;
    position: absolute;
    top: 67%;
    left: 31%;
    font-family: FuturaMediumC, serif;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #363636;

    @media (max-width: 1260px) {
        left: 27%;
        top: 68%;
        width: 21%;
    }

}

.form-services {
    width: 30%;
    height: 60%;
    position: absolute;
    top: 14%;
    right: 4%;
    display: flex;
    flex-direction: column;
    background-color: #131313;

    @media (max-width: 1260px) {
        width: 40%;
        height: 70%;
        right: 0;
    }

    &__text {
        width: 65%;
        margin-top: 5%;
        font-family: FuturaDemiC;
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: center;
        align-self: center;
        color: #FFFFFF;

    }
}

.form-services-name {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;

    &__name {
        font-family: FuturaBookC;
        font-size: 1.5rem;
        line-height: 2rem;
        color: rgba(255, 255, 255, 0.5);
    }

    &__text {
        font-family: FuturaMediumC, serif;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: #FFFFFF;

    }

    &__input {
        width: 100%;
    }
}

.form-services-phone {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;

    &__name {
        font-family: FuturaBookC;
        font-size: 1.5rem;
        line-height: 2rem;
        color: rgba(255, 255, 255, 0.5);
    }

    &__text {
        font-family: FuturaMediumC, serif;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: #FFFFFF;

    }

    &__input {
        width: 100%;
    }
}

.form-services-email {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;

    &__name {
        font-family: FuturaBookC;
        font-size: 1.5rem;
        line-height: 2rem;
        color: rgba(255, 255, 255, 0.5);
    }

    &__text {
        font-family: FuturaMediumC, serif;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: #FFFFFF;

    }

    &__input {
        width: 100%;
    }
}

.form-services-checkbox {
    display: flex;
    margin-left: 14%;
    margin-top: 5%;
    font-family: FuturaBookC, serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #FFFFFF;
     
    &__input {
       display: none 
    }
    
    &__label {
        width: 76%;

        &:hover {
          cursor: pointer;
          background-color: rgba(126, 125, 123, 0.3);
        }
    }
  
    &__input:checked + &__label::before {
        content: "\2713"; 
        margin-right: 2%;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        background-color: #E3B873;
        font-size: 1.5rem; 
        line-height: 1.5rem;    
        color: #FFFFFF;  
        text-align: center;  
    
    }

    
    @media (max-width: 1260px) {
        width: 100%;
        height: 0%;
        margin-left: 11%;
        margin-bottom: 0%;
    }
   
}

.form-services-submit {
    width: 35%;
    height: 7%;
    position: absolute;
    right: 10%;
    bottom: 8%;
    font-family: FuturaDemiC, serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 1.5rem rgba(227, 184, 115, 0.15);
    border: 0;

    &:hover {
        cursor: pointer;
        background: rgba(227, 184, 115, 0.8);
      }

    @media (max-width: 1260px) {
        width: 50%;
    }
}